body{
    margin: 0;
    background-color: darkgray !important;
    background-image: url("../images/fondo.png");
    background-position: top center;
    background-size: cover;
    background-repeat: repeat;
    font-family: "VAGRounded";
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
}
#starstile{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url("../images/stars01.png");
    background-repeat: repeat;
    background-position: 0 0%;    
}

.stars{
     position: absolute;
    width: 100%;
    height: 100%;
    background-image:url("../images/stars_tile.png");
    background-repeat: repeat;
    background-position: center;  
    opacity: 0
}

#floor{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/base.png");
    background-repeat: repeat-x;
    background-position: bottom;
    top:50%;
}

#container{
    visibility:hidden;
    width: 100%;
    height: 100%;
      resize: both;

}

#retro{
    text-align: center;
    padding: 2vh;
    background-color: #3be8ef;
    margin:2vw 0;
}

#buttonForward{
    position: fixed;
    background-image: url(../images/ok_on.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 19%;
    width: 25%;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%,-2%); 
    z-index: 1001;
    cursor: pointer;
    
}

#buttonForward:active{
  background-image: url("../images/ok_off.png");
}


.correct-button{
    background-color: #00ff14;
}

.incorrect-button{
    background-color: #ff0000;
}


/*THEME ITEMS*/
.header-bar{
    position: relative;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 14%;
}

.section-grade{
    position: absolute;
    top:0%;
    width: 30%;
    height: 15%;
    z-index: 1;

}

.section-grade img{
    position: absolute;
    top:50%;
    width: 87%;
    transform: translate(0, -50%);
}

.section-gradeText{
    position: absolute;
    width: 100%;
    color: #FFF;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
    z-index: 1;
}

#counter-page{
    position: absolute;
    top:0%;
    height: 13%;
    z-index: 1;
    color:#FFF;
    font-size: 2vw;
    text-align: center;
    left:27%;
    width: 8%;
    height: 100%;
    
}

#counter-page span{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(0% ,-40%);
    top:50%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 0 1vw 0 1vw;
    border-radius: 1.4vw;    
    z-index: 1;
}


#timerSection{
    
    position: absolute;
    top:0%;
    height: 100%;
    z-index: 1;
    color:#FFF;
    font-size: 2vw;
    text-align: center;
    left:70%;
    width: 8%;
    
}

#clock{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(0% ,-40%);
    top:50%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    padding: 0 1vw 0 1vw;
    border-radius: 1.4vw;    
    z-index: 1;
}

.buttonAudio{
    position: absolute;
    height: 13%;
    width: 7%;
    right: 0%;
    top:0;
    background-image: url("../images/SoundOn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    cursor: pointer;
}



.buttonHelp{
    position: absolute;
    height: 13%;
    width: 7%;
    right: 8%;
    top:0;
    background-image: url("../images/practicaOff.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.buttonHelp:active{
    background-image: url("../images/practicaOn.png");
}

.contentBar{
    position: absolute;
    width: 35.5%;
    height: 2%;
    top: 6%;
    left:34.5%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}

.contentBar .progressBar{
    position: absolute;
    background-color: #7af941;
    width: 100%;
    height: 20%;
    top:40%;
    z-index: 1;
}

#question{
    position: relative;
    width: 100%;
    color: #FFF;
    font-size: 1.8em;
    background-color: rgb(89,113,142);
    border:0.2vw solid rgb(114,171,211);
    border-radius: 0vw 0vw 1vw 1vw;
    overflow: hidden;   
    border-top: 0;
    margin: 0 auto;
    max-width: 1300px;
    z-index: 1;
}

.span-question{
    padding: 2vw;
    position: relative;
}

#question span{ 
}

#container-question{
    position: relative;
    width: 100%;
    text-align: center;
}

#answer-section{
    color:#FFF;
    width: 100%;
    position: fixed;
    top: 75%;
    z-index: 1000;
    left:2%;
}

.answer{
    position: absolute;
    width: 25%;
    left: 0%;
    font-family: sans-serif;
    font-size: 1.8vw;
    font-weight: 500;
    display: flex;
    font-family: "VAGRounded";
    align-items: center;
    transform: translate(0%,0%);
    justify-content: center; 
    cursor:pointer;
    }

 
#answer1 {
    left:0%;
} 
   
#answer2 {
    left:25%;
}  
   
#answer3 {
    left:50%;
} 
   
#answer4 {
    left:75%;
}
  

.answer .contentText{
    background-color: rgb(30,0,108);
    width: 70%;
    margin: 0%;
    margin-left: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:0.5vw solid rgb(127,71,221);
    box-shadow: 0 1vh 0 #37108d;
    border-radius: 2vw;
    height: 100%;
    min-height: 100px;
    z-index: 1;
    display: flex;
    font-family: "VAGRounded";
    align-items: center;
    transform: translate(0%,0%);
    justify-content: center;  
    font-size: 2vw;
}

.optionLetters{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241,187,10);
    border:0.5vw solid rgb(127,71,221);
    box-shadow: 0px 1vh 0px #37108d;
    height: 80%;
    color:#000;
    float: left;
    left: 0%;
    font-size: 3vw;
    font-weight: 500;
    padding: 0.5vh;
    border-radius: 3vh 0vh 0vh 3vh;
    width: 20%;
}

.optionOnlyLetters{
    background-color: rgb(241,187,10);
    width: 80%;
    margin: 0%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:0.7vw solid rgb(127,71,221);
    box-shadow: 0px 10px 0px #37108d;
    border-radius: 1vw;
    height: 100%;
    min-height: 100px;
    z-index: 1;
    display: flex;
    font-family: "VAGRounded";
    align-items: center;
    transform: translate(0%,0%);
    justify-content: center; 
    z-index: 3;
}

.containerQuestionImage{
    position: absolute;
    height: 100%;
    padding: 0.5vw;
    transform: translate(-50%,-50%);
}

.containerQuestionImage img{
    position: relative;
    height: 100% ;
}



.select-button{
    border:0.6vw solid #00FFFF !important;
    box-shadow: 0px 10px 0px #29ABE2 !important;
    font-weight: 800;
    transform: translate(0%,5%);
} 

.select-button img{
}


#tutorialScreen{
    position: absolute;
    width: 100%;
    height: 100%;
}


#modal{
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top:0%;
    left:0%;
    z-index: 100000;
    display:flex;
    justify-content: center;
    align-items: center;
}


.modal-window{
    position: relative;
    width: 80%;
    height: 90%;
    color:#000;
    max-width: 1080px;
    max-height: 750px;
    background-color: rgba(250,250,250,1);
    padding: 5vw;
    border-radius:1vw;
    font-size: 2vw;
    background-image: url("../images/bghelp.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

#closeHelp{
    position: absolute;
    top: 1%;
    right: 0%;
    text-align: right;
    background-image: url("../images/corner.png");
    background-repeat: no-repeat;
    padding: 1vw;
    
}

.modal-title{
    position: relative;
    left:-7%;
    width: 35%;
}

.modal-title img{
    width: 100%;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.globe-help{
    position: relative;
    width: 70%;
    left: 20%;
    height: 80%;
    min-height: 250px;
    overflow: scroll;
    background-image: url("../images/globo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translate(0%,-10%);
    padding: 2vw;
}

.globe-help p{
    position: relative;
    width: 100%;
    height: 90%;
    overflow: scroll;
    padding:1vw;
    font-size: 0.7em;
    color: #FFF;
}

.yogotar-help{
    position: absolute;
    left: 0%;
    width: 30%;
    z-index: 1;
}

.yogotar-help img{
    width: 100%;
    left: -10%;
    transform: translate(0%,0%);
}

.globe-help img{
    width: 100%;
    transform: translate(10%,0%);
}

.modal-window span{
    color: rgb(226, 44, 212);
}

.modal-footer{
        border-top: 0px solid #e9ecef;
}

.buttonOk{
    position: absolute;
    background-image: url("../images/ok_on.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20%;
    width: 100%; 
    left: 0;
    bottom:0;
    margin-bottom: 2vw;
    border: none;
}

.buttonOk:active{
  background-image: url("../images/ok_off.png");
}


#imageQuestion{
    position: relative;
    left: 50%;
    text-align: center;
    width: 80%;
    transform: translate(-50%,0%);
    height: 500px;
    color: #FFF;
    text-align: center;
    margin-top: -1.5%;
    z-index: 1;
    overflow: hidden;
}

#imageQuestion img {
    width: 75%;
}

.ranuraimagen{
    position: relative;
    width: 100%;
    left:0%;
    transform: translate(0%,-5%);
    z-index: 1;
}

.ranuraimagen-img{
    width: 70%;
}


.abductionlight{
    position: absolute;
    width: 100%;
    top:25%;
    transform: scale(0,1);
    z-index: 0;
}

.abductionlight img{
    position: relative;
    width: 50%;
    left:26%;
}

/*SPRITE*/

#ship{
    position: absolute;
    width: 100%;
    height: 100%;
    top:-100%;
    text-align: center;
}

#eagle{
    height: 55%;
    min-width: 1050px;
    transform: translate(0%,-73%) scale(1.5);
}



#cortainTutorial{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 10000;
    visibility: hidden;
}

.title-tutorial{
    position: absolute;
    top:5%;
    z-index: 1;    
}

.top-tutorial{
    position: absolute;
    top:0%;
    width: 100%;
}

.top-tutorial img{
    width: 100%;
}


.bottom-tutorial{
    position: absolute;
    bottom:0%;
    width: 100%;
}

.bottom-tutorial img{
    width: 100%;
}

.info-tutorial{
    position: absolute;
    width: 100%;
    height: 100%;
}

.eagle-tutorial{
    position: absolute;
    background-image: url(../images/tutorial/eagle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 50%;
    height: 70%;
    bottom: 0%;
    z-index: 100000;    
}
.punto-tutorial,
.panelButton-tutorial{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0%;
    transform: translate(0%,-50%);
    z-index: 1;
}


.panelButton-tutorial img{
    width: auto;
    min-width: 150px;
}

.punto-tutorial img{
   transform: translate(-160%,-8%); 
}

.globe-tutorial{
    position: absolute;
    background-color: #FFF;
    width: 50%;
    left:50%;
    top:50%;
    transform: translate(-10%,-50%);
    border-radius: 2vw;
    font-size: 1.3em; 
}

.page-explain{
    position: absolute;
    background-color: #FFF;
    padding: 2vw;
    border-radius: 1vw;
    left:40%;
    top:50%;
    transform: translate(0%,-50%);
    font-size: 2vw;   
    width: 40%;
}

#globeExplain{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    z-index: 100000;
}

.menuExplain{
    position: absolute;
    color:#FFF;
    width: 20%;
    right: 0;
    top:50%;
    transform: translate(0%,-50%);
}


#arrowExplain{
    position: absolute;
    z-index: 1;
}

.menuExplain div{
    padding: 1vw;
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
}

.page-tutorial{
    margin: 5%; 
    font-size: 1em;
}

.blue-text{
    color:#2ec0d8;
    text-align: center;
}

.green-text{
    color:#90c628;
    text-align: center;
}

.menuglobe-tutorial{
    width: 100%;
    text-align: center;
}

.menuback-tutorial{
    position: absolute;
    background-image: url("../images/tutorial/prev-inactive.png");
    background-repeat: no-repeat;
    background-position:95% 50%;
    bottom: 0%;
    height: 20%;
    width: 45%;
    cursor: pointer;
}

.menunext-tutorial{
    position: absolute;
    background-image: url("../images/tutorial/next.png");
    background-repeat: no-repeat;
    
    background-position:5% 50%;
    bottom: 0%;
    height: 20%;
    left:55%;
    width: 40%;
    cursor: pointer;
}

.numberpage-tutorial{
    font-size: 3vw;
}

.beginquiz-tutorial{
    background-image: url("../images/okbutton.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    width: 100%;
    height: 10vh;
    cursor: pointer;
    
}

.beginquiz-tutorial:active{
    background-image: url("../images/okbutton_off.png");
}

.type-questionSelect{
    font-family:"Arial";
    position: absolute;
    font-size: 1.8vw;  
    color:#FFF;
    left:50%;
    z-index: 1000;
    top:5%;
    opacity: 0.5;
    transform: translate(-50%,-50%);
}

.container-canvas{
    position: absolute;   
    width: 30%;
    left:4%;
    height: 15%;
    top:0%;
}

#canvas { 
    position: relative;
    border:0.2vw solid #758da1;
    border-radius: 50%;
    width: 100;
    height: 100;

}


/*COSMOS*/


@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
    
}


.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}


#nextExplainButton{
    cursor:pointer;
}

#nextExplainButton{
    cursor:pointer;
}

#particules{
    position: absolute;
    left: 0;
    top:0;
    z-index: 100000;
    transform: translate(-50%,-50%);
}

.particuleStarClass{
    position: absolute;
    z-index: 100000;
    transform: translate(-50%,-50%);
}

/*
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
#question {
    position: relative;
    left: 0% !important;
    width: 100%;
    color: #FFF;
    font-size: 1.5em;
    background-color: rgb(89,113,142);
    border: 0.2vw solid rgb(114,171,211);
    border-radius: 0vw 0vw 1vw 1vw;
    text-align: center;
    overflow: hidden;
    border-top: 0;
    margin-top: 13%;
    font-size: 3vw;
}      
      
.ranuraimagen {
    position: relative;
    width: 100%;
    left: 0%;
    transform: translate(0%,0%);
    z-index: 4;
}      

.ranuraimagen-img {
    width: 100%;
}    
      
#imageQuestion img {
    width: auto;
    transform: scale(1.5);
    margin-top: 4%;
}      
      #eagle{
          width: 70%;
          margin-top: 50%;
}

.answer{
    width: 44%;
    margin: 3%;
      }      
      
}
*/

@media only screen 
  and (min-device-width: 270px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      
#question {
    width: 100%;
    font-size: 0.9em;    
}      
      
.ranuraimagen {
    width: 100%;
}      

.ranuraimagen-img {
    width: 100%;
}    
      
#imageQuestion{
    width: 100%;
}      
      
#imageQuestion img {
    width:95%;
}      

#eagle{
}
      
#answer-section{
    left:5%;
    height: 45%;
    top:60%;

}      
      
.answer{
    position: absolute;
    width: 50%;
    padding: 3vw;
    text-align: center;
    
}
  
.answer .contentText{
    background-color: rgb(30,0,108);
    width: 60%;
    border:1vw solid rgb(127,71,221);
    border-radius: 2vw;
    transform: scale(1.3) !important;
    font-size: 1.8em;
    min-height: 50px;
}        
  
   
#answer1 {
    left:0%;
} 
   
#answer2 {
    left:50%;
}  
   
#answer3 {
    left:0%;
    top:35%;
} 
   
#answer4 {
    left:50%;
    top:35%;
}

 #buttonForward {
    transform: translate(-50%,10%);
    width: 50%;
     cursor: pointer;
}      
      
.optionLetters{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241,187,10);
    border:1vw solid rgb(127,71,221);
    box-shadow: 0px 1vh 0px #37108d;
    height: 50%;
    color:#000;
    float: left;
    left: -3%;
    font-size: 4vw;
    font-weight: 500;
    padding: 2vh;
    border-radius: 1.5vh 0vh 0vh 1.5vh;
    width: 15%;
    transform: scale(1.3) !important;
}
      
#ship{
    position: absolute;
    width: 100%;
    height: 100%;
    top:-100%;
    text-align: center;
    transform:scale(1);
}
      


#eagle{
    height: 55%;
    min-width: 1050px;
    transform: translate(-30%,-68%) scale(1.5);
}      
      
    
 
.header-bar{
    height: 17%;
}
  
.section-grade{
    top:3%;
    width: 60%;
      }
      
.section-gradeText {
    font-size: 5vw;  
      }
      

      
#counter-page{
    position: absolute;
    top:0%;
    z-index: 1;
    color:#FFF;
    font-size: 6vw;
    text-align: center;
    left:10%;
    height: 30%;
    background: rgba(0,0,0,1);
    width: 20%;
    border-radius: 1.4vw; 
    
}

#counter-page span{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translate(0% ,-40%);
    top:50%;
    width: 100%;
    background: rgba(0,0,0,0);
    padding: 0 2vw 0 1vw;
       
    z-index: 1;
}


#timerSection{
    position: absolute;
    top:0%;
    z-index: 1;
    color:#FFF;
    font-size: 6vw;
    text-align: center;
    left:70%;
    height: 30%;
    background: rgba(0,0,0,1);
    width: 20%;
    border-radius: 1.4vw; 
}      
    
.contentBar{
    position: absolute;
    width: 40%;
    height: 3%;
    top: 1%;
    left:30%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}      
    
.buttonAudio{
    width: 18%;
    right: 0%;
    top:4%;
}


.buttonHelp{
    width: 18%;
    top:4%;
    right: 22%;
}
      
.container-canvas{
    position: absolute;   
    width: 0%;
    left:3%;
    height: 0%;
    top:25%;
}

#canvas { 
    position: relative;
    border-radius: 50%;
    width: 160;
    height: 160;

} 
 

.modal-window{
    width: 95%;
    height: 80%;
    padding: 5vw;
    border-radius:1vw;
    font-size: 6vw;
    
} 
  
.modal-body{
    display: block;
}    
    
.modal-title{
    position: relative;
    left:-4%;
    width: 70%;
}

.modal-title img{
    width: 100%;
}      
      

.yogotar-help{
    position: relative;
    width: 100%;
    left: 0%;
    text-align: center;
    transform: translate(0,-10%);

}

.yogotar-help img{
    width: 60%;
}      

      
      
.globe-help{
    position: relative;
    left: 0%;
    width: 100%;
    height: 50%;
    background-image: url("../images/globo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translate(0%,0%);
    padding: 2vw;
}

.globe-help p{
    position: relative;
    width: 100%;
    height: 90%;
    overflow: scroll;
    padding:1vw;
    font-size: 0.7em;
}      
  
      
.title-tutorial{
    position: absolute;
    top:1%;
    width: 50%;
}  
      
.title-tutorial img{
    width: 100%;
}  
      
      h1{
          font-size: 6vw;
      }       
      
      
.globe-tutorial{
    position: absolute;
    width: 90%;
    top:50%;
    transform: translate(-50%,-80%);
    border-radius: 2vw;
    font-size: 0.8em; 
    z-index: 100000;
}  
      
 .numberpage-tutorial {
    font-size: 7vw;
    transform: translate(0%,-10%);
}     
      
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {   
    #question{
        font-size: 2vw;
    }    
    .answer .contentText{
        min-height: 60px;
    }
      
.globe-help p{
    font-size: 1em;
}   
    
.title-tutorial{
    position: absolute;
    top:5%;
    width: 35%;
}  
      
.title-tutorial img{
    width: 100%;
}
      
.globe-tutorial{
    position: absolute;
    width: 70%;
    left:20%;
    top:50%;
    transform: translate(-30%,-50%);
    border-radius: 2vw;
    font-size: 1em; 
}      
  
      h1{
          font-size: 4vw;
      }      
      
.eagle-tutorial{
    position: absolute;
    background-image: url(../images/tutorial/eagle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 50%;
    height: 70%;
    bottom: 0%;
    transform: translate(-20%,0%);
    z-index: 1;    
} 
      
.numberpage-tutorial {
    font-size: 4vw;
    transform: translate(0%,-20%);
}      
      
#ship{
    position: absolute;
    width: 100%;
    height: 100%;
    top:-100%;
    text-align: center;
    transform:scale(1);
}
      


#eagle{
    position: relative;
    height: auto;
    width: 100%;
    left:50%;
    transform: translate(-50%,-70%) scale(1);
} 
      
      
      
}
